In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\glori\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\glori\anaconda3\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\glori\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\glori\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\glori\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\glori\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.2)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\glori\anaconda3\lib\site-packages (0.17.0)

In [3]:
import re
import os

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [7]:
file_path = "Data/model_combine_data.csv"

In [12]:
my_data = pd.read_csv(file_path)
my_data

C:\Users\glori\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,loan_amnt,int_rate,fico_range_high,dti,addr_state,emp_length,purpose,Loan Status,loan_amt
0,421097,5000.0,20.39,669.0,21.8,OK,8,other,Accepted,NaN
1,421098,15000.0,9.92,704.0,18.29,FL,2,debt_consolidation,Accepted,NaN
2,421099,11200.0,30.79,669.0,43.97,NH,0,medical,Accepted,NaN
3,421100,25000.0,21.85,669.0,12.89,AL,10,debt_consolidation,Accepted,NaN
4,421101,3000.0,7.34,764.0,0.58,WA,9,major_purchase,Accepted,NaN
...,...,...,...,...,...,...,...,...,...,...
1081515,19698926,NaN,NaN,535.0,1.54%,CT,5,Medical expenses,Rejected,3000.0
1081516,19698936,NaN,NaN,580.0,5.55%,TX,0,Car financing,Rejected,6000.0
1081517,19698996,NaN,NaN,561.0,0%,OR,0,Debt consolidation,Rejected,3000.0
1081518,19699052,NaN,NaN,573.0,8.55%,NY,0,Other,Rejected,2500.0
1081519,19699073,NaN,NaN,567.0,0%,AL,2,Car financing,Rejected,2500.0

In [15]:
my_data['Loan Status'].value_counts()

Rejected    628344
Accepted    453176
Name: Loan Status, dtype: int64